#aboutPage{
    max-width: 100vw;
    background-color: rgb(179, 68, 77);
    background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
    overflow-x: hidden;
    height: 100vh;
    background-image: url(../DT1579.jpg);
    div.aboutBody{
        color: #ffffff;
        padding-left: 9vw;
        padding-right: 3vw;
        padding-top: 50px;
        max-width: 100vw;
        overflow-x: hidden;
        background-image: linear-gradient(#000000eb, transparent 70%);
        background-size: 100% 100%;
        mix-blend-mode: revert;
        overflow-y: scroll;
        section {
            background-color: #44391982;
            padding: 1.5em;
            margin-bottom: 4em;
        }
        .workArea-mobile{
            display: none;
        }
        p{
            font-size: larger;
            span{
                color: #fff;
                background-color: #8a8c8d;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .workArea{
            margin-bottom: 2em;
            padding-left: 10px;
            margin-top: 2em;;

        }
        .css-button-sharp--sky {
            min-width: 130px;
            height: 40px;
            background-color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border: none;
            color: #443919;
          }
        .css-button-sharp--sky.active {
            color: #fff;
            background: #443919;
          }
        .tab-content{
            .tab-pane{
                background-color: #44391982;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                height: min-content;
                ul {
                    li {
                        font-size: larger;
                    }
                }
            }
        }
        .skills{
            ul{
                background-color: #44391982;
                li{
                    list-style-type: none;
                    font-size: larger;
                    font-weight: bolder;
                    color: #fff;
                    transition: all 1s ease-in-out;
                }
                li:hover{
                    background-color: #fff;
                    color: #44391982;
                }
            }
        }
        .css-button-sharp--grey {
            min-width: 130px;
            height: 40px;
            color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border: 2px solid #495057;
            background: #495057;
            a{
                text-decoration: none;
                color: #fff;
            }
          }
          .css-button-sharp--grey:hover {
            background: #fff;
            a{
                color: #495057

            }          }
        h4{
            padding-left: 10px;
            font-size: 39px;
            color: rgb(72, 202, 159);
            border-left: 4px solid rgb(72, 202, 159);
            font-weight: bolder;
            transition: all 0.5s ease-in;
            width: 60%;
        } 
        h4:hover{
            background-color: chocolate;
            color: #fff;
        }
        h2{
            font-size: 8rem;
            font-weight: 400;
            transition: all 1s ease-in;
            padding-left: 10px;
            border-left: 4px solid rgb(169, 183, 196);
        }
        h2:hover{
            color: rgb(72, 202, 159);
        }
        h5{ 
            font-size: 4rem;
            padding-left: 10px;
            span.name {
                color: rgb(39, 85, 211);
                font-weight: 700;
            }
            span:hover {
                text-decoration: underline;
            }
        }
        .first-col{
            p{
                font-weight: bolder;
                padding-left: 10px;
            }
        }
    }
    .col-image-lastone{
        position: relative;
        img, svg{
            position: fixed;
            right: 100px;
            top: 30px;
            filter: opacity(0.5);
            transform: rotateY(180deg);
        }
    }
}

@media screen and (max-width: 768px) {
    #aboutPage{
        background-size: 120% auto;
        
        background-repeat: no-repeat;
        div.aboutBody{
            padding-left: 6em;
            .workArea{
                .css-button-sharp--sky {
                
    height: 50px;
    white-space: nowrap;
            }
            h4, h2, h5{
                padding-left: 1px;
            }
            .tab-content{
                .tab-pane{
                    height: 12.5em;
                    font-weight: 300;
                }
            }
        }
            .first-col{
                padding-left: 10px;
                p{
                    padding-left: 1px;
                    font-weight: bolder;
                }
            }
        }
        .col-image-lastone{
            img, svg{
                right: 10px;
                top: 20px;
                filter: opacity(0.3);
            }

        }
    } 
}

@media screen and (max-width: 426px) {
    #aboutPage{
        background: none;
        background-image: none;
        background-image:  url(../wave1.svg), url(../wave2.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        div.aboutBody{
            padding-left: 3em;
            h4{
                margin-top: 50px !important;
            }
            .workArea-mobile{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: stretch;
                align-content: space-between;
                margin-bottom: 15px;
                overflow-x: scroll;
                overflow-y: hidden;
                width: 88vw;
                button.css-button-sharp--sky{
                    margin-right: 20px;
                    height: 55px;              
              }
            }
            .workArea-mobile::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
            h2{
                font-size: 3rem;
            }
            h5{
                font-size: 2rem;
            }
            p{
                font-size: inherit;
                padding-right: 28px;
            }
            .tab-content{
                .tab-pane{
                    height: 16em;
                }
            }
        }
        div.workArea{
            display: none;
        }
        .col-image-lastone{
            display: none;
            img, svg{
                display: none;
            }
        }
    }
}