#contactPage{
    background-color: rgb(132, 180, 182);
    padding-top: 0vh;
    padding-bottom: 15vh;
    .theTexts{
        text-align: center;
        align-self: center;
        h1{
            font-size: 60px;
            font-family: 'Festive', cursive;
        }
        p{
            font-size: larger;
        }
        a{
            text-align: start;
            font-size: 30px;
            font-family: 'Patrick Hand', cursive;
            text-decoration: none;
            transition: all 2s ease-out;
        }
        a:hover{
            color: #e6dec1;
        }
        .social-row{
            margin-left: 90px;
            margin-bottom: 20px;
        }
    }
    .final{
        div.col{
            cursor: pointer;
        }
        div.col:hover{
            filter: invert(1);
        }
    }
}

@media screen and (max-width: 500px) {
    .theTexts{
        .social-row{
            margin-left: 20px !important;
        }
    }
}