#projectPage{
     background-color: rgb(132, 180, 182);
     h4{
        font-family: 'Festive', cursive;
        font-size: 35px;
        padding-left: 65px;
     }
    .array{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        padding-top: 30px;
        .carded {
            width: 300px;
            height: 280px;
            padding: 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
            border-radius: 8px;
            box-sizing: border-box;
            overflow: hidden;
          }
          
          .carded * {
            transition: 0.3s ease all;
          }
          
          .carded img {
            margin: 0;
            width: 300px;
            height: 224px;
            object-fit: cover;
            display: block;
          }
          
          .carded h3 {
            margin: 0;
            padding: 12px 12px 48px;
            line-height: 32px;
            font-weight: 500;
            font-size: 20px;
            font-family: 'Rajdhani', sans-serif;
          }
          
          .carded .focus-content {
            display: block;
            padding: 8px 12px;
          }
          
          .carded:hover img, .carded:focus-within img {
            margin-top: -80px;
          }
          
          .carded:hover h3, .carded:focus-within h3 {
            padding: 8px 12px 0;
          }
          
    }
}

@media screen and (max-width: 500px) {
    .array{
        background-color: brown;
        grid-template-columns: repeat(1, 70%) !important;
    }
}